.c-table {
    &__links {
        text-align: center;

        &__button {
            border: none;
            padding: 2rem;
            outline: none;
            font-size: 1.7rem;
            color: $primary-color;
            background-color: transparent;
            cursor: pointer;
            color: $light-gray-2;
            letter-spacing: 0.1rem;
        }

    }

    &__content {
        font-size: 1.2rem;
        color: $light-gray;
        letter-spacing: 0.1rem;
        display: none;
        animation-name: fadeInOut;
        animation-duration: 1s;
        animation-fill-mode: both;

    }

    &__product__grid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &__link-more {
            display: inline-block;
            margin: 2rem auto;
        }
    }

    &__product {
        max-width: 25%;
        flex-basis: 25%;
        padding: 1rem;
        display: block;
        height: 100%;

        &__img {
            display: inline-block;
            width: 100%;
            height: 35rem;
            overflow: hidden;
            margin-bottom: .5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.1); // add this to scale the image on hover
                }
            }
        }

        &__title {

            &:link,
            &:visited {
                font-size: 1.5rem;
                font-family: 'Roboto', sans-serif;
                color: $primary-color;
                margin-bottom: .5rem;
                display: block;
                transition: all .2s;
            }

            &:hover {
                color: $light-gray;
            }
        }

        &__price {
            font-family: 'Roboto', sans-serif;
            color: $primary-color;
            font-size: 1.2rem;
        }
     
    }
}
.c-table__links__button.active {
    color: $primary-color;
   &::after {
    margin-top: .5rem;
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: $primary-color;
   }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }